{% extends 'core/base.html' %}
{% load static %}
{% block title %}Login - Impressora 3D{% endblock %}

{% block content %}
    <h1>Login</h1>

    {% if form.non_field_errors %}
    <div style="color: red;">
        {{ form.non_field_errors }}
    </div>
    {% endif %}

    <form method="post">
        {% csrf_token %}
        <p>
            <label for="{{ form.username.id_for_label }}">Username:</label><br>
            {{ form.username }}
            {% for err in form.username.errors %}<div style="color:red">{{ err }}</div>{% endfor %}
        </p>

        <p>
            <label for="{{ form.password.id_for_label }}">Senha:</label><br>
            {{ form.password }}
            {% for err in form.password.errors %}<div style="color:red">{{ err }}</div>{% endfor %}
        </p>

        <button type="submit">Entrar</button>
    </form>
{% endblock %}
