{% extends 'core/base.html' %}
{% load static %}
{% block title %}Login - Impressora 3D{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'autenticacao/css/login.css' %}">
{% endblock %}

{% block content %}
<div class="login-box">
    <h2 class="mb-4">Login</h2>

    {% if form.non_field_errors %}
    <div class="text-danger mb-3">
        {{ form.non_field_errors }}
    </div>
    {% endif %}

    <form method="post">
        {% csrf_token %}

        <div class="form-group mb-3 row">
            <label for="{{ form.username.id_for_label }}" class="col-sm-4 col-form-label text-end">Username:</label>
            <div class="col-sm-8">
                {{ form.username }}
                {% for err in form.username.errors %}
                    <div class="text-danger small">{{ err }}</div>
                {% endfor %}
            </div>
        </div>

        <div class="form-group mb-3 row">
            <label for="{{ form.password.id_for_label }}" class="col-sm-4 col-form-label text-end">Senha:</label>
            <div class="col-sm-8">
                {{ form.password }}
                {% for err in form.password.errors %}
                    <div class="text-danger small">{{ err }}</div>
                {% endfor %}
            </div>
        </div>

        <div class="text-center mt-4">
            <button type="submit" class="btn btn-outline-secondary btn-login">Entrar</button>
        </div>
    </form>
</div>
{% endblock %}
