{% extends 'core/base.html' %}
{% load static %}
{% block title %}Lista de Cadastros{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'core/css/lista.css' %}">
{% endblock %}

{% block content %}
<div class="lista-box container">
    <h1 class="mb-4 text-center">Gerenciamento de Impressões 3D</h1>

    <!-- Abas Bootstrap -->
    <ul class="nav nav-tabs mb-4" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" id="pendentes-tab" data-bs-toggle="tab" data-bs-target="#pendentes" type="button" role="tab">Pendentes</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="producao-tab" data-bs-toggle="tab" data-bs-target="#producao" type="button" role="tab">Em produção</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="concluidos-tab" data-bs-toggle="tab" data-bs-target="#concluidos" type="button" role="tab">Concluídos</button>
        </li>
    </ul>

    <!-- Conteúdo das abas -->
    <div class="tab-content" id="myTabContent">
        <!-- PENDENTES -->
        <div class="tab-pane fade show active" id="pendentes" role="tabpanel">
            {% include 'core/partials/lista_cards.html' with items=pendentes status="PENDENTE" %}
        </div>

        <!-- PRODUÇÃO -->
        <div class="tab-pane fade" id="producao" role="tabpanel">
            {% include 'core/partials/lista_cards.html' with items=producao status="PRODUCAO" %}
        </div>

        <!-- CONCLUÍDOS -->
        <div class="tab-pane fade" id="concluidos" role="tabpanel">
            {% include 'core/partials/lista_cards.html' with items=concluidos status="CONCLUIDO" %}
        </div>
    </div>
</div>
{% endblock %}
