.login-box {
    max-width: 450px;
    margin: 6rem auto;
    padding: 2.5rem 2rem;
    background-color: whitesmoke; /* caixa com fundo */
    border-radius: 20px;          /* bordas arredondadas */
    box-shadow: 0 4px 12px rgba(0,0,0,0.1); /* sombra suave */
    text-align: left;
}

.login-box h2 {
    color: #343a40;
    font-weight: 700;
    text-align: center;
}

.login-box input {
    width: 100%;
    padding: 0.5rem 0.75rem;
    border-radius: 5px;
    border: 1px solid #ced4da;
}

.btn-login {
    min-width: 140px;
    padding: 0.5rem 1.2rem;
    font-size: 1rem;
    color: #495057;
    background-color: transparent;
    border: 1px solid #adb5bd;
    border-radius: 8px;
    transition: all 0.2s ease-in-out;
}

.btn-login:hover {
    background-color: #e9ecef;
    border-color: #6c757d;
}
